.banner-noticias{
    width: 860px;
    display: flex;
    justify-content: space-around;
}

.card-noticia{
    width: 251px;
    cursor: pointer;
}

.card-noticia img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 25px;
}

.titulo-card-noticia{
    margin-top: 11px;
}

.descripcion{
    margin-top: 7px;
}

.fecha-noticia{
    font-weight: 900;
    color: #D86A2D;
    margin-top: 13px;
    text-align: center;
}