.foto-fondo{
    display: block;
    width: 100vw;
}

.menu-desktop{
    width: 100vw;
    height: 44px;
    background: var(--color-primario);
}

nav{
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

ul > li a{
    display: block;
    text-decoration: none;
    color: white;
}